.contentSidebarOpen {
    display: flex;
    width: 100%;
    height: auto;
    margin: 56px 0 0 0;
    padding-left: 15px;
}

.contentSidebarClosed {
    display: flex;
    width: 100%;
    height: auto;
    margin: 56px 0 0 0;

    padding-left: 15px;
}

.contentSidebarOpenVideoPlayerPage {
    display: flex;
    width: 100%;
    height: auto;
    margin: 56px 0 0 0;
}

.contentSidebarClosedVideoPlayerPage {
    display: flex;
    width: 100%;
    height: auto;
    margin: 56px 0 0 0;
}
