@use '../../styles/layout/Sidebar.module.scss';

.contentSidebarOpen {
    display: flex;
    width: calc(100% - var(--sidebar-open-width));
    height: auto;
    margin: 56px 0 0 var(--sidebar-open-width);
    padding-left: 15px;
}

.contentSidebarClosed {
    display: flex;
    width: calc(100% - var(--sidebar-closed-width));
    height: auto;
    margin: 56px 0 0 var(--sidebar-closed-width);
    padding-left: 15px;
}
