.sidebarOpen {
    display: block;
    width: 240px;
    --sidebar-open-width: 140px;
    height: calc(100vh - 56px);
    position: fixed;
    left: 0;
    transition: width 0.3s ease-in-out;
    overflow-y: hidden;
    overflow-x: hidden;

    &:hover {
        overflow-y: scroll;
        scrollbar-width: thin;
    }

    div {
        width: 100%;
        height: auto;
        padding: 12px;
        border-bottom: 1px solid #e5e5e5;
    }

    h3 {
        width: 216px;
        height: 32px;
        font-size: 16px;
        font-weight: 500;
        color: #0f0f0f;
        padding: 6px 12px 4px 12px;
    }

    > div:nth-child(3) {
        padding: 16px 32px;

        > p {
            width: 176px;
            height: auto;
            font-size: 14px;
        }
    }

    > div:last-child {
        padding: 0;

        div {
            border-bottom: none;
        }

        > div:first-child,
        > div:nth-child(2) {
            padding: 16px 24px 0px 24px;

            a {
                display: inline-block;
                width: auto;
                height: 18px;
                padding: 0;
                color: #606060;
                margin-right: 5px;
                font-size: 13px;
                font-weight: 500;
                line-height: 18px;
            }
        }

        > div:nth-child(2) {
            padding: 12px 24px 0px 24px;
        }

        > div:last-child {
            padding: 6px 24px 32px 12px;

            div {
                font-size: 12px;
                color: #909090;
            }
        }
    }
}

.sidebarClosed {
    width: 72px;
    height: auto;
    padding: 0 4px;
    transition: 0.3s ease-in-out;
    position: fixed;
    left: 0;

    &:hover {
        overflow: hidden;
    }

    > div:nth-child(3),
    > div:nth-child(4),
    > div:nth-child(5),
    > div:nth-child(6),
    > div:last-child {
        display: none;
        border-bottom: none;
    }

    > div:first-child,
    > div:nth-child(2) {
        width: 100%;
        height: auto;
        border-bottom: none;
        padding: 0;
    }
}

.sidebarLinkOpen {
    display: flex;
    align-items: center;
    width: 204px;
    height: 40px;
    padding: 0 12px;

    &:hover {
        border-radius: 10px;
        border: 1px solid #f2f2f2;
        background: #f2f2f2;
    }

    p {
        font-size: 14px;
        font-weight: 500;
        color: #0f0f0f;
    }

    svg {
        font-size: 24px;
        margin-right: 24px;
    }
}

.sidebarLinkClosed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 72px;
    --sidebar-closed-width: 72px;
    height: 74px;
    padding: 16px 0 14px 0;

    p {
        font-size: 10px;
        margin-top: 5px;
    }

    svg {
        font-size: 24px;
        margin: 0;
    }
}
