@use '../../components/Shared/core/colors' as *;

.homePagePopularTypesTitle {
    display: flex;
    width: 100%;
    height: auto;

    li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 32px;
        padding: 12px;
        background-color: $color-bg-title;
        border-radius: 8px;
        margin: 0 12px 12px 0;
        cursor: pointer;

        &:hover {
            background-color: $color-bg-title;
        }

        p {
            font-size: 14px;
            font-weight: 500;
            color: $color-text;
        }
    }
}
