.populartypes {
    display: flex;
    width: 100%;
    height: auto;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 32px;
        padding: 12px;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        margin: 0 12px 12px 0;

        p {
            font-size: 14px;
            font-weight: 500;
            color: #0f0f0f;
        }
    }
}
