@use '../../Shared/core/colors' as *;

.headerLogo {
    a {
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 123px;
            height: 56px;

            img {
                width: 93px;
                height: 40px;
                // background-color: $color-border;
                // border: 1px solid $color-border;
                border-radius: 10px;
            }
        }
    }
}
