@use './../../Shared/core/colors' as *;

.headerSignIn {
    a {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 122px;
        height: 34.4px;
        border-radius: 18px;
        color: $color-btn-sign-in;
        border: 1px solid $color-border-btn-sign-in;
        cursor: pointer;

        p {
            font-size: 14px;
            font-weight: 500;
            color: $color-btn-sign-in;
        }

        svg {
            color: $color-btn-sign-in;
        }
    }
}
