@use 'sass:map';
@use './ThemeConfig.scss' as config;

// 🎨 Light
$theme-light: (
    bg: #ffffff,
    bg-box: #0000000d,
    bg-box-text: #0f0f0f,
    bg-box-hover: #0000000d,
    text: #0f0f0f,
    svg: #030303,
    hover: #f1f1f1,
    border: #f1f1f1,
    btn-sign-in: #065fd4,
    border-btn-sign-in: #0000001a,
);

// 🌙 Dark
$theme-dark: (
    bg: #0f0f0f,
    bg-box: #ffffff1a,
    bg-box-text: #f1f1f1,
    bg-box-hover: #383838,
    text: #f1f1f1,
    svg: #ffffff,
    h3: #606060,
    hover: #ffffff,
    border: #ffffff,
    btn-sign-in: #3ea6ff,
    border-btn-sign-in: #ffffff33,
);

// 🌓 Gán biến theme đúng
$theme: if(config.$theme-mode == 'light', $theme-light, $theme-dark);

// 🧩 Token màu
$color-bg: map.get($theme, bg);
$color-bg-box: map.get($theme, bg-box);
$color-bg-box-text: map.get($theme, bg-box-text);
$color-bg-box-hover: map.get($theme, bg-box-hover);
$color-text: map.get($theme, text);
$color-svg: map.get($theme, svg);
$color-h3: map.get($theme, h3);
$color-hover: map.get($theme, hover);
$color-border: map.get($theme, border);
$color-btn-sign-in: map.get($theme, btn-sign-in);
$color-border-btn-sign-in: map.get($theme, border-btn-sign-in);
