@use 'sass:map';
@use './ThemeConfig.scss' as config;

// 🎨 Light
$theme-light: (
    bg: #ffffff,
    bg-title: #0000000d,
    text: #0f0f0f,
    svg: #030303,
    hover: #f1f1f1,
    border: #f1f1f1,
);

// 🌙 Dark
$theme-dark: (
    bg: #0f0f0f,
    bg-title: #0000000d,
    text: #ffffff,
    svg: #ffffff,
    h3: #606060,
    hover: #ffffff,
    border: #ffffff,
);

// 🌓 Gán biến theme đúng
$theme: if(config.$theme-mode == 'light', $theme-light, $theme-dark);

// 🧩 Token màu
$color-bg: map.get($theme, bg);
$color-bg-title: map.get($theme, bg-title);
$color-text: map.get($theme, text);
$color-svg: map.get($theme, svg);
$color-h3: map.get($theme, h3);
$color-hover: map.get($theme, hover);
$color-border: map.get($theme, border);
