@use '../../../layout/Header.module.scss' as Header;

.searchinput {
    form {
        width: 484.2px;
        height: 24px;

        input {
            display: block;
            width: inherit;
            height: 22px;

            &:focus {
                outline: none;
            }
        }
    }

    ul {
        width: Header.$search-button-width;
        max-height: 286.08px;
        background-color: #fff;
        position: fixed;
        left: 418px;
        top: 50px;
        z-index: 2010;
        border-top: 0;
        border: 1px solid #ccc;
        border-radius: 12px;
        padding: 16px 0 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

        li {
            &:hover {
                border: 1px solid #ccc;
                border-radius: 12px;
                padding: 16px 0 8px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            }
        }
    }
}
