.logo {
    a {
        div {
            width: 123px;
            height: 56px;
            padding: 18px 14px 18px 16px;

            img {
                width: 93px;
                height: 20px;
            }
        }
    }
}
